{include file="public/_head" /}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="page-header h3">{$cate.catename}列表</div>
            <div class="article-list">
                {volist name="cate.article" id="vo"}
                <div class="article-list-item">
                    <a href="{:url('index/articles/articles',['id' => $vo.id])}" class="title">{$vo.title}</a>
                    <div class="info">
                        <span class="author">作者：{$vo.author}</span>-
                        <span class="time">发布时间：{$vo.create_time}</span>-
                        <span class="read">阅读：{$vo.reading}</span>-
                        <span class="comment">评论：{$vo.comment_num}</span>
                    </div>
                </div>
                {/volist}
            </div>
            <nav class="">

            </nav>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="page-header h3">推荐文章</div>
            <div class="topic-list">
                {volist name="articlesInfo" id="vo"}
                <div class="topic-list-item">
                    <a href="{:url('index/articles/articles',['id' => $vo.id])}" class="title">{$vo.title}</a>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
{include file="public/_footer" /}