{include file="public/_head"/}
<div class="container">
    <div class="content center-block animated fadeInDown">
        <div class="page-header h1">用户注册</div>
        <form>
            <div class="form-group">
                <label for="username" class="control-label">用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="输入用户名" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="输入密码" />
            </div>
            <div class="form-group">
                <label for="conpass" class="control-label">确认密码</label>
                <input type="password" class="form-control" id="conpass" name="conpass" placeholder="输入确认密码" />
            </div>
            <div class="form-group">
                <label for="nickname" class="control-label">昵称</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="输入昵称" />
            </div>
            <div class="form-group">
                <label for="email" class="control-label">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="输入邮箱" />
            </div>
            <div class="form-group">
                <label for="verify" class="control-label">验证码</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="verify" name="verify" placeholder="输入验证码" />
                    <span class="input-group-addon"><img src="{:captcha_src()}" alt="captcha" style="padding: 0;cursor: pointer" onclick="this.src='{:captcha_src()}'"></span>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="register">注册</button>
            </div>
        </form>
    </div>
    <div class="bottom center-block animated fadeInUp">
        版权所有{$webInfo.copyright}  <a href="#">www.woolgather.tk</a>  All Rights Reserved
    </div>
</div>

<script src="/static/index/js/jquery-3.3.1.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>
<script src="/static/lib/layer/layer.js"></script>

<script>
    $(function () {
        $('#register').click(function () {
            $.ajax({
                url:"{:url('index/register/register')}",
                type:'post',
                data:$('form').serialize(),
                dataType:'json',
                success:function (data) {
                    if (data.code == 1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:2000
                        },function () {
                            location.href = data.url;
                        });
                    }else {
                        layer.open({
                            title: '注册失败',
                            content: data.msg,
                            icon: 5,
                            anim: 6
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>